{% extends "base.html" %}

{% block title %}
Menu Principal
{% endblock %}

{% block content %}
<header>
  <h5 class="title">{{lista_menu[8]}}</h5>
  <h6 class="title">{{lista_menu[6]}}</h6>

    <h6 class="title">{{lista_menu[7]}}</h6>
</header>
<main>
    <h6 class="title">{{lista_menu[5]}}</h6>
    <nav>
        <form value="#38b9c2" action="http://127.0.0.1:5000/vehiculos" method="post" action="request">
            <button class="d-grid col-12 mx-auto btn btn-outline-dark" type="submit">{{lista_menu[0]}}</button>
        </form>  
        <form action="http://127.0.0.1:5000/clientes" method="post" action="request">
            <button class="d-grid col-12 mx-auto btn btn-outline-dark"  type="submit">{{lista_menu[1]}}</button>  
        </form>
        <form action="http://127.0.0.1:5000/transacciones" method="post" action="request">
            <button class="d-grid col-12 mx-auto btn btn-outline-dark"  type="submit">{{lista_menu[2]}}</button>  
        </form>
        <form action="http://127.0.0.1:5000/cotizacion"method="post" action="request">
            <button class="d-grid col-12 mx-auto btn btn-outline-dark" type="submit">{{lista_menu[3]}}</button>  
        </form>
    </nav>
    
    <div class="text-center">
        <img src="" class="rounded" alt="">
    </div>

 </main>{% endblock %}
