{% extends "base.html" %}

{% block title %}
Listado de Clientes
{% endblock %}

{% block content %}
<header>
    <h1 class="title">{{lista_listar[0]}}</h1>
    <h2 class="title">{{lista_listar[1]}}</h2>
</header>
<main>
    <h3 class="title">{{lista_listar[2]}}</h3>
    <h1 class="title">Listado de Vehículos</h1>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th>ID</th>
                <th>Patente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Año</th>
                <th>Kilometraje</th>
                <th>Precio de Compra</th>
                <th>Precio de Venta</th>
                <th>Estado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.item_id }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.documento }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.correo_electronico }}</td>
                <td><a href="http://127.0.0.1:5000/clientes-pre-editar">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="http://127.0.0.1:5000/clientes" method="POST" action="request">
        <button class="d-grid col-4 mx-auto btn btn-outline-dark" type="submit" type="submit">{{lista_listar[4]}}</button>
    </form>
</main>
{% endblock%}