{% extends "base.html" %}

{% block title %}
Borrar Clientes
{% endblock %}

{% block content %}
<header>
    <h1 class="title">{{lista_borrar[0]}}</h1>
    <h2 class="title">{{lista_borrar[1]}}</h2>
</header>
    <h3 class="title">{{lista_borrar[2]}}</h3>
<main>
    <h4 class="title">{{lista_borrar[3]}}</h4>
    <form action="/submit-b-c" method="POST" >
        <label for="submit"></label>
        <input class="d-grid col-9 mx-auto btn btn-outline-dark" placeholder = "Ingresa el ID de Cliente" type="text" id="item_id" name="item_id">
        <label for="submit"></label>
        <input class="d-grid col-9 mx-auto btn btn-outline-dark" placeholder = "Ingresa el documento" type="text" id="documento" name="documento">
        <label for="submit"></label>
        <input class="d-grid col-9 mx-auto btn btn-outline-dark" type="submit" value="Borrar Vehículo" name="submit">
    </form>
    <form action="http://127.0.0.1:5000/clientes" method="POST" action="request">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <button class="d-grid col-9 mx-auto btn btn-outline-dark" type="submit">{{lista_borrar[4]}}</button>
    </form>  
</main>
{% endblock %}