{% extends "base.html" %}

{% block title %}
Crear Clientes
{% endblock %}

{% block content %}
<header>
    <h1 class="title">{{lista_crear[0]}}</h1>
    <h2 class="title">{{lista_crear[1]}}</h2>
</header>
    <h3 class="title">{{lista_crear[2]}}</h3>
<main>
    <h4 class="title">{{lista_crear[3]}}</h4>
<form action="/submit-c-c" method="POST" >
    <label for="nombre">Nombre:</label>
    <input class="d-grid col-10 mx-auto btn btn-outline-dark" type="text" id="nombre" name="nombre" required>
    <label for="apellido">Apellido:</label>
    <input class="d-grid col-10 mx-auto btn btn-outline-dark" type="text" id="apellido" name="apellido" required>
    <label for="documento">Documento:</label>
    <input class="d-grid col-10 mx-auto btn btn-outline-dark" type="text" id="documento" name="documento" required>
    <label for="direccion">Dirección:</label>
    <input class="d-grid col-10 mx-auto btn btn-outline-dark" type="text" id="direccion" name="direccion" required>
    <label for="celular">Teléfono:</label>
    <input class="d-grid col-10 mx-auto btn btn-outline-dark" type="text" id="telefono" name="telefono" required>
    <label for="correo_electronico">Email:</label>
    <input class="d-grid col-10 mx-auto btn btn-outline-dark" type="correo_electronico" id="correo_electronico" name="correo_electronico" required>
    <button class="d-grid col-10 mx-auto btn btn-outline-dark" type="submit">Crear Cliente</button>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<form action="http://127.0.0.1:5000/vehiculos" method="POST" action="request">
    <button class="d-grid col-10 mx-auto btn btn-outline-dark" type="submit">{{lista_crear[4]}}</button>
</form>  
</main>
{% endblock %}
