{% extends "base.html" %}

{% block title %}
Editar Clientes
{% endblock %}

{% block content %}
<header>
    <h1 class="title">{{lista_editar[0]}}</h1>
    <h2 class="title">{{lista_editar[1]}}</h2>
</header>
    <h3 class="title">{{lista_editar[2]}}</h3>
    <h4 class="title">{{lista_editar[3]}}</h4>

    <form action="/submit-e-c" method="POST">
        <label for="nombre"></label>
        <input placeholder = "Ingresa el nombre" type="text" id="nombre" name="nombre">
        <label for="apellido"></label>
        <input placeholder="Ingresa el apellido" type="text" id="aellido" name="apellido">
        <label for="documento"></label>
        <input placeholder ="Ingresa el documento" type="text" id="documento" name="documento">
        <label for="direccion"></label>
        <input placeholder ="Ingresa la direccion" type="text" id="direccion" name="direccion">
        <label for="telefono"></label>
        <input placeholder ="Ingresa el telefóno" type="text" id="telefono" name="telefono">
        <label for="correo_electronico"></label>
        <input placeholder ="Ingresa el email" type="text" id="correo_electronico" name="correo_electronico">
        <label for="submit"></label><br>
        <input type="submit" value="Editar Cliente" name="submit">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </form>
    <form action="http://127.0.0.1:5000/clientes" method="POST" action="request">
        <button type="submit">{{lista_editar[4]}}</button>
    </form>


{% endblock %}