{% extends "base.html" %}

{% block title %}
Editar Clientes
{% endblock %}


{% block content %}
<header>
    <h1 class="title">{{lista_pre_editar[0]}}</h1>
    <h2 class="title">{{lista_pre_editar[1]}}</h2>
</header>
<h3 class="title">{{lista_pre_editar[2]}}</h3>
<h4 class="title">{{lista_pre_editar[3]}}</h4>
<form action="/submit-pre-e-c" method="POST">
        <label for="parametro"></label><br>
        <input class="d-grid col-10 mx-auto btn btn-outline-dark" placeholder = "Ingresa ID de cliente o DNI" type="text" id="parametro" name="parametro"><br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}        
</form>
<form action="http://127.0.0.1:5000/clientes" method="POST" action="request">

    <button class="d-grid col-10 mx-auto btn btn-outline-dark" type="submit">{{lista_pre_editar[4]}}</button>
</form>
{% endblock %}
