{% extends "base.html" %}

{% block title %}
Clientes
{% endblock %}

{% block content %}
<header>
    <h1>{{lista_menu[8]}}</h1>
    <h2>{{lista_menu[9]}}</h2>
</header>
<main>  
 <h3>{{lista_menu[6]}}</h3>
<nav>
    <form action="http://127.0.0.1:5000/clientes-crear" method="post" action="request">
        <button type="submit">{{lista_menu[0]}}</button>
    </form>  
    <form action="http://127.0.0.1:5000/clientes-pre-editar" method="post" action="request">
        <button type="submit">{{lista_menu[1]}}</button>  
    </form>
    <form action="http://127.0.0.1:5000/clientes-borrar" method="post" action="request">
        <button type="submit">{{lista_menu[2]}}</button>  
    </form>
    <form action="http://127.0.0.1:5000/clientes-listar" method="post" action="request">
        <button type="submit">{{lista_menu[3]}}</button>  
    </form>
    <form action="http://127.0.0.1:5000/clientes-pre-buscar" method="post" action="request">
        <button type="submit">{{lista_menu[4]}}</button>  
    </form>
    <form action="http://127.0.0.1:5000/" method="post" action="request">
        <button type="submit">{{lista_menu[5]}}</button>  
    </form>
</nav> 
 </main>
 {% endblock %}