<!DOCTYPE html>
<html>
<body>
<header>
<!--<h1>{{lista_menu[4]}}</h1>
    <h2>{{lista_menu[5]}}</h2> -->
</header>
<main>  
    <h3>{{lista_menu[0]}}</h3>
    
    <h4>{{lista_menu[1]}}</h4>
    <!--Blue-->
    <table style="border: 1px solid black;border-collapse: collapse;">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody style="border: 1px solid black;border-collapse: collapse;" >
            {% for field in fields1 %}<!--fields2 = dolar blue-->
                <tr>
                    {% for value in field %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>{{lista_menu[2]}}</h4>
    <!--oficial-->
    <table style="border: 1px solid black;border-collapse: collapse;">
        <thead>
            <tr>
                {% for header in headers %} 
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody style="border: 1px solid black;border-collapse: collapse;">
            {% for field in fields2 %}<!--fields2 = dolar oficial-->
                <tr>
                    {% for value in field %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <form action="http://127.0.0.1:5000" method="post" action="request">
        <button type="submit">{{lista_menu[3]}}</button>  
    </form>

</main>

</body>
</html>