
{% extends "base.html" %}

{% block title %}
Cotización de Dolar
{% endblock %}

{% block content %}
</header>
<main>  
    <h1 class="title">{{lista_menu[0]}}</h1>
    
    <h2 class="title" >{{lista_menu[1]}}</h2>
    <!--Blue-->
    <table class="table table-dark table-striped-columns" border="1">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody >
            {% for field in fields1 %}<!--fields2 = dolar blue-->
                <tr>
                    {% for value in field %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 >{{lista_menu[2]}}</h4>
    <!--oficial-->
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                {% for header in headers %} 
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody >
            {% for field in fields2 %}<!--fields2 = dolar oficial-->
                <tr>
                    {% for value in field %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="http://127.0.0.1:5000" method="post" action="request">
        <button class="d-grid col-9 mx-auto btn btn-outline-dark" type="submit">{{lista_menu[3]}}</button>  
    </form>
</main>
{% endblock %}
