<!DOCTYPE html>
<html>
<body>
<header>
    <h1>{{lista_menu[7]}}</h1>
    <h2>{{lista_menu[8]}}</h2>
</header>
<main>
    
    <ul><h3>{{lista_menu[5]}}</h3>
        <li>{{lista_menu[0]}}</li>
        <li>{{lista_menu[1]}}</li>
        <li>{{lista_menu[2]}}</li>
        <li>{{lista_menu[3]}}</li>
        <li>{{lista_menu[4]}}</li>
        
    </ul>
    
    <form method="post" action="request">
        <button type="submit">{{lista_menu[6]}}</button>  
        <input name ="opcion" type="text" value="" placeholder="Elija una opción">
    </form>

</main>

</body>
</html>