{% block content %}
<header>
    <h1>{{ lista_listar[0] }}</h1>
    <h2>{{ lista_listar[1] }}</h2>
</header>
<main>
    <h3>{{ lista_listar[2] }}</h3>
    <h1>Listado de Vehículos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Patente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Año</th>
                <th>Kilometraje</th>
                <th>Precio de Compra</th>
                <th>Precio de Venta</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr>
                {% for key, value in vehiculo.items() %}
                <td>{{ value }}</td>
                {% endfor %}
                <td><a href="http://127.0.0.1:5000/vehiculos-pre-editar">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="http://127.0.0.1:5000/vehiculos" method="POST">
        <button type="submit">{{ lista_listar[4] }}</button>
    </form>
</main>
{% endblock %}