{% extends "base.html" %}

{% block title %}
Listado de Transacciones
{% endblock %}

{% block content %}
<header>
    <h1 class="title">{{ lista_listar[0] }}</h1>
    <h2 class="title">{{ lista_listar[1] }}</h2>
</header>
<h3 class="title">{{ lista_listar[2] }}</h3>
<main>
    <h4 class="title">Listado de Transacciones</h4>
    <table class="table table-dark table-striped-columns"  border="1">
    <thead> 
        <tr>
            <th>ID Transacción</th>
            <th>ID Vehículo</th>
            <th>ID Cliente</th>
            <th>Transacción</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Observaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for transaccion in transacciones %}
        <tr>
            <td>{{ transaccion.item_id }}</td>
            <td>{{ transaccion.id_vehiculo }}</td>
            <td>{{ transaccion.id_cliente }}</td>
            <td>{{ transaccion.tipo_transaccion }}</td>
            <td>{{ transaccion.fecha }}</td>
            <td>{{ transaccion.monto }}</td>
            <td>{{ transaccion.observaciones }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <form action="http://127.0.0.1:5000/transacciones" method="POST">
        <button class="d-grid col-4 mx-auto btn btn-outline-dark" type="submit">{{ lista_listar[3] }}</button>
    </form>
</main>
{% endblock %}
  