{% extends "base.html" %}

{% block title %}
Vehículos
{% endblock %}

{% block content %}
<header>
    <h1 class="title">{{lista_vehiculos[8]}}</h1>
    <h2 class="title">{{lista_vehiculos[9]}}</h2>
</header>
<main>
    <h3 class="title">{{lista_vehiculos[6]}}</h3>
    <nav>
        <form action="http://127.0.0.1:5000/vehiculos-crear" method="post" action="request">
            <button class="d-grid col-10 mx-auto btn btn-outline-dark" type="submit">{{lista_vehiculos[0]}}</button>
        </form>  
        <form action="http://127.0.0.1:5000/vehiculos-pre-editar" method="post" action="request">
            <button class="d-grid col-10 mx-auto btn btn-outline-dark" type="submit">{{lista_vehiculos[1]}}</button>  
        </form>
        <form action="http://127.0.0.1:5000/vehiculos-borrar" method="post" action="request">
            <button class="d-grid col-10 mx-auto btn btn-outline-dark" type="submit">{{lista_vehiculos[2]}}</button>  
        </form>
        <form action="http://127.0.0.1:5000/vehiculos-listar"method="post" action="request">
            <button class="d-grid col-10 mx-auto btn btn-outline-dark" type="submit">{{lista_vehiculos[3]}}</button>  
        </form>
        <form action="http://127.0.0.1:5000/vehiculos-pre-buscar"method="post" action="request">
            <button class="d-grid col-10 mx-auto btn btn-outline-dark" type="submit">{{lista_vehiculos[4]}}</button>  
        </form>
        <form action="http://127.0.0.1:5000/" method="post" action="request">
            <button class="d-grid col-10 mx-auto btn btn-outline-dark" type="submit">{{lista_vehiculos[5]}}</button>  
        </form>
    </nav> 
</main>

{% endblock%}
