{% extends "base.html" %}

{% block title %}
Buscador de Vehículos
{% endblock %}

{% block content %}
<header>
    <h1>{{lista_buscar[0]}}</h1>
    <h2>{{lista_buscar[1]}}</h2>
</header>
<main>
    <h3>{{lista_buscar[2]}}</h3>
    <h4>{{vehiculo_pre_buscar[1]}}</h4>
    <h1>Listado de Vehículos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Patente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Año</th>
                <th>Kilometraje</th>
                <th>Precio de Compra</th>
                <th>Precio de Venta</th>
                <th>Estado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.item_id }}</td>
                <td>{{ vehiculo.patente }}</td>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.tipo }}</td>
                <td>{{ vehiculo.anio }}</td>
                <td>{{ vehiculo.kilometraje }}</td>
                <td>{{ vehiculo.precio_compra }}</td>
                <td>{{ vehiculo.precio_venta }}</td>
                <td>{{ vehiculo.estado }}</td>
                <td><a href="http://127.0.0.1:5000/vehiculos-pre-editar">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="http://127.0.0.1:5000/vehiculos" method="POST" action="request">
        <button type="submit">{{lista_buscar[4]}}</button>
    </form>
</main>
{% endblock%}
